@charset "ISO-8859-1";

html,body{
  	height:100%;
  	width:100%;
}


.container{
   	background: url(../img/portada.png) no-repeat center; /*fixed;*/
   	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: cover;
   	margin-top: 0px;
   	height: 100%;
   	width: 100%;
}